:root {
  --menu_width: 200px;
}

canvas {
  position: fixed;
  top: 0;
  left: var(--menu_width);

  margin: 0;
  padding: 0;
  z-index: 0;

}

body {
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

html {
  margin: 0;
  padding: 0;
}

#frame-gui { 
  position: absolute; 
  top: 2px; 
  left: var(--menu_width);
}

#menu {
  position: fixed;
  width: var(--menu_width);
  height: 100%;
  background-color: white;
  border: 1px solid black;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}