:root {
  --menu_width: 200px;
}

canvas {
  position: fixed;
  top: 0;
  left: var(--menu_width);

  margin: 0;
  padding: 0;
  z-index: 0;

  /* transform: scaleX(-1); */
}

body {
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

html {
  margin: 0;
  padding: 0;
}

#frame-gui { 
  position: absolute; 
  top: 2px; 
  left: var(--menu_width);
}

#menu {
  position: fixed;
  width: var(--menu_width);
  height: 100%;
  background-color: white;
  border: 1px solid black;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.menu {
  text-align: center;
}

#newMenu {
  display: none;
}

.menu button{
  margin: 10px;
}

.back {
  position: fixed;
  top: 0;
  left: 0;
}

#frame-bar {
  position: fixed;
  bottom: 0;
  left: var(--menu_width);
  width: calc(100% - 200px);
  height: 100px;
  background: rgba(255, 0, 0, 0.5);
  z-index: 1;

  display: none;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}

#frame-bar button {
  height: 30px;
  margin: 20px;
  padding: 5px;
  
  text-align: center;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


/* DROP DOWN STUFF */
 /* Dropdown Button */

/* The search field */
#dropdown {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

/* The search field when it gets focus/clicked on */
#dropdown:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 80%;
  margin-top: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f6f6f6;
  min-width: 100%;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

#trick_list {
  margin-top: 20px;
}

#trick_list * {
  width: 100%;
  margin-left: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 10px;
  text-align: left;
}